.main-lead {
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-lead__heading-text {
    max-width: 1600px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;

    background: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/main-bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-lead__heading {
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-text-color);
}

.main-lead__btn {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--active-text-color);
    cursor: pointer;
}

.main-btn:hover {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.main-lead__text,
.btn-modal-form-text {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-text-color);
}